// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

form {
    width: 100%;
    max-width: 360px;
    padding: 15px;
    margin: 0 auto;
    .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
        &:focus {
            z-index: 2;
        }
    }
    h2 {
        margin-top: 12px;
    }
    input {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        &[type="password"],
        &[type="file"],
        &[type="text"] {
            margin-bottom: 10px;
        }
        #username {
            margin-bottom: -1px;
        }
    }
}
